@charset "UTF-8";

* {
  box-sizing: border-box;
  border-radius: 100%;
}

html {
  padding-top: 200px;
  background-image: url(../stylings/background/pattern.png);
  background-repeat:repeat;
}

.hair {
  position: relative;
  bottom: 270px;
}

#long_hair {
border-right: 3px solid  #4997D0;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -7px;
  left: 65px;
}

#short_hair {
border-left: 3px solid  #4997D0;
  width: 70px;
  height: 70px;
  position: absolute;
  left: 155px;
  top: 3px;
}

#face {
  height: 300px;
  width: 300px;
  margin: 0 auto;
  padding-top: 70px;
  background-color: #4997D0;
  border-radius: 100%;
}

#eyes {
  width: 210px;
  height: 100px;
  margin: 0 auto;
}

.sight {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color:	#F0F8FF;
  border-radius: 100%;
  padding-top: 40px;
  border-width: 5px 2px 1px 2px;
  border-style: solid;
  border-color: #007ac1;
}

#left_eye {
  margin-right: 2px;
  padding-left: 30px;
}

#right_eye {
  padding-right: 30px;
}

.iris {
  height: 30px;
  width: 30px;
  background-color: rgb(12, 183, 242);
  border-radius: 100%;
  border: 1px solid black;
  margin: 0 auto;
  padding: 9px;
}

.pupils {
  width: 10px;
  height: 10px;
  margin: 0 auto;
  background-color: black;
  border-radius: 100%;
  padding-top: 2px;
}

.bright {
  background-color: white;
  margin: 0 auto;
}

.first_bright {
  position: relative;
  height: 13px;
  width: 13px;
  bottom: 11px;
  left: 5px;
}

.second_bright {
  position: relative;
  height: 7px;
  width: 7px;
  bottom: 7px;
  right: 4px;
}

.mouth {
  height: 62px;
  width: 47px;
  margin: 16px auto 0 auto;
  background-color: #31013f;
  transform: skewX(-3deg);
}

#tongue {
  position: absolute;
  height: 50px;
  width: 50px;
  border-top: 22px solid #f36197;
  bottom: -30px;
}

#tooth {
  position: absolute;
  height: 20px;
  width: 25px;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  background-color: #fcfce7;
  bottom: 73px;
  left: 12px;
}

#lips {
  position: relative;
  box-sizing: content-box;
  top: -25px;
  right: 39px;
  height: 62px;
  width: 47px;
  border: 27px solid #4997D0;
}

.hands {
  width: 51px;
  height: 51px;
  position: relative;
}

.left_hand {
  position: absolute;
  background-color: #4997D0;
  width: 51px;
  height: 51px;
  top: 1px;
  transform: rotate(180deg);
}

.right_hand {
  position: absolute;
  background-color: #4997D0;
  left: 250px;
  width: 51px;
  height: 51px;
}

/*SHADOW*/
.shadow::after {
  z-index: -1;
  position: absolute;
  background-color: transparent;
  content: "";
  height: 10px;
  width: 300px;
  border-radius: 100%;
  box-shadow: 0 70px 30px #b9b9b9;
  top: 500px;
}
/*END SHADOW*/

/*SHOCK ANIMATION*/
.mouth, .sight, .iris, .left_hand, .right_hand {
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.mouth, {animation-name: stretch;}
.sight {animation-name: gobsmacked;}
.iris {animation-name: irisshocked;}
.left_hand {animation-name: slapleft;}
.right_hand {animation-name: slapright;}

@keyframes stretch {
  0%, 100% {transform: scale(1, 1);}
  5% {transform: scale(1.05, 1.05);}
}

@keyframes gobsmacked {
  0%, 100% {border-width: 10px 2px 2px 2px;}
  5% {border-width: 0px 0px 0px 0px;}
}

@keyframes irisshocked {
  0%, 100% {transform: scale(1,1);}
  5% {transform: scale(.6,.6);}
  50% {transform: scale(.6,.6);}
}

@keyframes slapright {
  0%, 100% {transform: translate(0px, 0px); box-shadow: inset 0px 0px 1px 0px white;}
  5% {transform: translate(20px, 18px); box-shadow: inset 0px 0px 1px 0px white;}
}

@keyframes slapleft {
  0%, 100% {transform: translate(0px, 0px); box-shadow: inset 0px 0px 1px 0px white;}
  5% {transform: translate(35px, -65px);box-shadow: inset 0px 0px 1px 0px white;}
}
/*END SHOCK ANIMATION*/
